<div id="contenido" class="col-lg-10 col-lg-offset-20" >

    <div id="header" class="col-lg-12">
        <h1>{{title}}</h1>
        <nav id="nav" class="col-lg-12">
            <ul id="#colormenu">
                <li><a href="#">Home</a></li>
                <li><a href="#">Pel&iacute;culas</a></li>
                <li><a href="#">TV Shows</a></li>
            </ul>
        </nav>
    </div>
    
     
    <br><br>
    <section id="main" class="col-lg-12">
        <!--Componente Actual-->
        <h3>Texto Principal</h3>
    </section> 
    <br>
    <footer class="col-lg-12">
        <p>App en Angular 9 -Glenda García-Gerardo Alvarado</p>
    </footer>
</div>


